* {
    font-family:"Roboto", sans-serif;
    box-sizing: border-box;
}


/* Top Header Styles */
.header-container {
    display: flex;
    background: #1F2937;
    justify-content: space-between;
    flex: 1;
    /* padding: 50px; */
    flex-direction: column;
    padding-top: 25px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 150px;
}

.header-logo {
   font-size: 24px;
   color: #F9FAF8; 
   font-weight: bold;
   /* background: black; */
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 16px;
}



.header-links-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}


.header-image-container {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 16px;
    background: gray;
    padding: 30px;
    width: 450px;
    height: 220px;
    flex: 1 1 auto;
    text-align: center;
}

.header-text-container{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    /* height: 200px; */
    gap: 15px;
    width: 450px;
}

.header-title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.header-text-content {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 16px;
}

.sign-up-button {
    display: flex;
    flex: 1;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 18px;
    width: 130px;
    height: 41px;
    margin-bottom: 0;
    /* width: 1em;
    height: */

    /* wi */
}

.header-logo-links-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}

.header-text-img-container {
    display: flex;
    /* width:
    height:  */
    height: 220px;
    gap: 50px;
    justify-content: space-between;

}


/* Info Section Styles*/

.info-header{
    display: flex;
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
    justify-content: center;
}

.info-box {
    display: flex;
    flex-direction: column;
    width: 200px;
    flex: 0;
    justify-content: center;
}

.info-box-container {
    display: flex;
    gap: 60px;
    justify-content: center;
}

.info-img {
    width: 150px;
    height: 150px;
    /* border-color: #3882F6; */
    border-radius: 10px;
    outline: 4px solid #3882F6;
}

.info-caption {
    /* display: flex; */
    /* flex-direction: column; */
    margin-top: 10px;
    text-align: center;
    color: gray;
    /* width: 200px; */
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 150px;
}